{% extends "layout.html" %}

{% block title %}
chai aur tweet
{% endblock title %}


{% block content %}
<h1 class='text-light text-center mt-4'>welcome ......</h1>
<h2>
    {% if form.instance.pk %} Edit Tweet {% else %} Create tweet {% endif %}
    <form method="POST" enctype='multipart/form-data' class='form'>
        {% csrf_token %}
        {{ form.as_p }}
        <button class='btn btn-warning'>submit</button>
    </form>
    
    <a href="{% url 'tweet_list' %}">Back to tweet list</a>
</h2>
{% endblock content %}